title:
  *: hksagentur.schema.file.image.title

accept:
  type: image

image:
  ratio: 3/2
  cover: false

create:
  width: 2560
  height: 2560

columns:
  main:
    width: 2/3
    fields:
      alt:
        type: text
        label:
          *: hksagentur.schema.file.image.alt
        icon: title
      caption:
        extends: @hksagentur/schema/fields/caption
        label:
          *: hksagentur.schema.file.image.caption
  sidebar:
    width: 1/3
    fields:
      author:
        type: text
        label:
          *: hksagentur.schema.file.image.author
        icon: user
        counter: false
      source:  @hksagentur/schema/fields/source
