title:
  *: hksagentur.schema.file.video.title

accept:
  type: video

image:
  query: model.poster.toFile
  ratio: 16/9
  cover: false

columns:
  main:
    width: 2/3
    fields:
      poster: @hksagentur/schema/fields/video-poster
      formats: @hksagentur/schema/fields/video-formats
      subtitles: @hksagentur/schema/fields/video-subtitles
  sidebar:
    width: 1/3
    fields:
      author:
        type: text
        label:
          *: hksagentur.schema.file.video.author
        icon: user
        counter: false
      source:  @hksagentur/schema/fields/source