title:
  *: hksagentur.schema.file.video.title

accept:
  type: video

image:
  ratio: 16/9
  cover: false

columns:
  main:
    width: 2/3
    fields:
      poster:
        extends: @hksagentur/schema/fields/image
        label:
          *: hksagentur.schema.file.video.poster
        query: file.parent.images.template('image')
        layout: list
        image:
          ratio: 16/9
          cover: true
  sidebar:
    width: 1/3
    fields:
      author:
        type: text
        label:
          *: hksagentur.schema.file.video.author
        icon: user
        counter: false
      source:  @hksagentur/schema/fields/source