name:
  *: hksagentur.schema.block.video.name
label: "{{ caption }}"
icon: video
tabs:
  content:
    extends: @hksagentur/schema/tabs/content
    fields:
      location: @hksagentur/schema/fields/media-location
      url:
        type: url
        label:
          *: hksagentur.schema.block.video.url
        placeholder: https://youtube.com/?v=
        required: true
        when:
          location: web
      video:
        extends: @hksagentur/schema/fields/video
        label:
          *: hksagentur.schema.block.video.file
        layout: list
        query: model.videos
        required: true
        when:
          location: kirby
      caption:
        extends: @hksagentur/schema/fields/caption
        label:
          *: hksagentur.schema.block.video.caption
  settings:
    extends: @hksagentur/schema/tabs/settings
    fields:
      ratio:
        extends: @hksagentur/schema/fields/ratio
        label:
          *: hksagentur.schema.block.video.ratio
        default: 16/9
        width: 1/2
      crop:
        type: toggle
        label:
          *: hksagentur.schema.block.video.crop
        width: 1/2
      autoplay:
        type: toggle
        label:
          *: hksagentur.schema.block.video.autoplay
        width: 1/2
      muted:
        type: toggle
        label:
          *: hksagentur.schema.block.video.muted
        width: 1/2
        default: true
      loop:
        type: toggle
        label:
          *: hksagentur.schema.block.video.loop
        width: 1/2
      controls:
        label:
          *: hksagentur.schema.block.video.controls
        type: toggle
        width: 1/2
        default: true
      preloading:
        extends: @hksagentur/schema/fields/video-preloading
        label:
          *: hksagentur.schema.block.video.preloading
        width: 1/2
      priority:
        extends: @hksagentur/schema/fields/image-priority
        label:
          *: hksagentur.schema.block.video.priority
        width: 1/2
